html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}
.btn {
background-color: #459bd4;
    border-color: #459bd4;
    white-space: normal;
    font-weight: 500;
    margin-right: 5px;
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .425rem .8rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .625rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}